<!DOCTYPE html>
<html>
<head>
<title>git</title>
<link rel="stylesheet" type="text/css" href="static/git-arr.css"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name=viewport content="width=device-width, initial-scale=1">
<script async src="static/git-arr.js"></script>
</head>

<body class="index" onload="replace_timestamps()">
<h1>git</h1>

<table class="nice projects">
    <tr>
        <th>project</th>
        <th>description</th>
    </tr>

    % for repo in sorted(repos.values(), key = lambda r: r.name):
    <tr>
        <td class="name"><a href="r/{{repo.name}}/">{{repo.name}}</a></td>
        <td class="desc"><a href="r/{{repo.name}}/" title="{{repo.info.desc}}">
            {{repo.info.desc}}</a></td>
        <td><span class="age">{{repo.last_commit_timestamp()}}</span></td>
    </tr>
    %end
</table>

</body>
</html>

