<table class="nice toggable ls" id="ls">
% key_func = lambda (t, n, s): (t != 'tree', n.raw)
% for type, name, size in sorted(tree.ls(dirname.raw), key = key_func):
    <tr class="{{type}}">
%   if type == "blob":
        <td class="name"><a href="{{treeroot}}/f={{name.url}}.html">
            {{!name.html}}</a></td>
        <td class="size">{{size}}</td>
%   elif type == "tree":
        <td class="name">
            <a class="explicit" href="{{treeroot}}/{{name.url}}/">
                {{!name.html}}/</a></td>
%   end
    </tr>
% end
</table>
