<!DOCTYPE html>
<html>
<head>

% if not dirname.raw:
%     reltree = './'
% else:
%     reltree = '../' * (len(dirname.split('/')) - 1)
% end
% relroot = reltree + '../' * (len(branch.split('/')) - 1)

<title>git &raquo; {{repo.name}} &raquo;
    {{branch}} &raquo; {{dirname.raw if dirname.raw else '/'}}</title>
<link rel="stylesheet" type="text/css"
    href="{{relroot}}../../../../../static/git-arr.css"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name=viewport content="width=device-width, initial-scale=1">
</head>

<body class="tree">
<h1><a href="{{relroot}}../../../../../">git</a> &raquo;
    <a href="{{relroot}}../../../">{{repo.name}}</a> &raquo;
    <a href="{{reltree}}../">{{branch}}</a> &raquo;
    <a href="{{reltree}}">tree</a>
</h1>

<h3>
    <a href="{{reltree}}">[{{branch}}]</a> /
% base = smstr(reltree)
% for c in dirname.split('/'):
%   if not c.raw:
%     continue
%   end
    <a href="{{base.url}}{{c.url}}/">{{c.raw}}</a> /
%   base += c + '/'
% end
</h3>

% include("tree-list", repo=repo, tree=tree, treeroot=".")

</body>
</html>
